.header {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 80px;
  display: flex;
  align-items: center;
  z-index: 100;
}
.heading {
  font-family: "Roboto", sans-serif;
  font-size: 26px;
  font-weight: lighter;
  padding-left: 150px;
}
.shopping-cart-bracked {
  color: #53b5aa;
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1px;
}
