.main-container {
  margin: 110px 448px 0;
}

article:nth-child(1) .color-box {
  background-color: #ffa500;
}

article:nth-child(2) .color-box {
  background-color: #930505;
}

article:nth-child(3) .color-box {
  background-color: #1b83f9;
}

.cart-container {
  margin-bottom: 15px;
  width: 1024px;
  height: 215px;
  display: flex;
  justify-content: space-between;
}

.picture-column {
  width: 260px;
  padding-right: 10px;
}

.item-thumbnail {
  height: 220px;
  object-fit: cover;
}

.detaitls-column-container {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  width: 685px;
}

.details-column {
  background-color: #ffffff;
  padding: 0 15px;
  box-shadow: 0px 3px 1px -2px #808080;
  height: 100%;
}

.details-tilte {
  padding: 15px 0 25px 0;
  color: #53b5aa;
  font-weight: 400;
  font-size: 28px;
}

.details-description {
  padding-bottom: 20px;
  font-size: 18px;
}

.counter {
  margin-top: 10px;
  background-color: #ffffff;
  font-weight: 400;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-increment,
.btn-decrement {
  width: 55px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  cursor: pointer;
}

.btn-increment:hover,
.btn-decrement:hover {
  background-color: #53b5aa;
  color: #ffffff;
}

.amount {
  font-size: 24px;
  width: 25px;
  border-style: none;
  text-align: center;
}

.price {
  font-size: 18px;
  margin-left: 280px;
}

.sum {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #53b5aa;
  height: 55px;
  width: 150px;
  color: #ffffff;
  font-size: 30px;
}

.size-column {
  display: flex;
  flex-direction: column;
  height: 90px;
  margin-left: -13px;
}

.color-box {
  background-color: #ffa500;
  width: 48px;
  height: 48px;
  margin-bottom: 5px;
  box-shadow: 0px 3px 1px -2px #808080;
}

.size-box {
  height: 50px;
  width: 55px;
  background-color: #ffffff;
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-size: 14px;
  box-shadow: 0px 3px 1px -2px #808080;
  display: flex;
  align-items: center;
  justify-content: center;
}
